{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
         <div class="card">
                <div class="card-header">
                    <h2 class="card-title">ریست کردن رمز عبور</h2>
                </div>
                <div class="card-body">
                {% if validlink %}
                    <center>
                        <form method="POST">
                            {% csrf_token %}
                        <table>
                        <tr>
                            <td> کلمه ی عبور جدید</td>
                            <td>{{ form.new_password1|add_class:'form-control' }}</td>
                        </tr>
                        <tr>
                                <ul>
                                    <li>رمز عبور شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.</li>
                                    <li>رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</li>
                                    <li>رمز شما نمی تواند از عبارات معروف باشد.</li>
                                    <li>رمز شما نمی تواند کلا عدد باشد.</li>
                                </ul>
                        </tr>
                        <tr>
                            <td>تکرار کلمه ی عبور</td>
                            <td>{{ form.new_password2|add_class:'form-control' }}</td>
                            <td>برای تائید، رمز عبور قبلی را وارد کنید.</td>
                        </tr>
                            {% if form.errors %}
                                <tr>
                                    <td id="error">خطا</td>
                                    <td>
                                        {% for field in form %}
                                            {% if field.errors %}
                                                <li>{{ field.errors }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                            <input class="btn btn-primary" type="submit" value="تایید" />
                        </form>
                    </center>
                    {% else %}
                        <p>
لینک نامعتبر. احتمالا این لینک قبلا استفاده شده است. لطفا بار دیگر درخواست ریست کردن پسورد خود را انجام دهید
                        </p>
                </div>
            </div>
        {% endif %}
{% endblock %}
{% block title %}پسورد ریست{% endblock %}