{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
 <div class="card">
        <div class="card-header">
            <h2 class="card-title">تغییر رمز</h2>
	    </div>
        <div class="card-body">
            <center>
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>رمز قبلی</td>
                            <td>{{ form.old_password }}</td>
                        </tr>
                        <tr>
                            <td>رمز جدید</td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>تایید رمز جدید</td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        {% if form.errors %}
                            <tr>
                                <td id="error">خطا</td>
                                <td>
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li>{{ field.errors|striptags }}</li>
                                    {% endif %}
                                {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                    <input class="btn btn-primary" type="submit" value="ورود" />
                </form>
            </center>
        </div>
    </div>
{% endblock %}
{% block title %}تغییر رمز{% endblock %}