{% extends "twitterapp/base.html" %}
{% block content %}
  </form>
     <div class="card">
        <div class="card-header">
            <h2 class="card-title">تغییر رمز</h2>
	    </div>
        <div class="card-body">
            <p>یک ایمیل تاییده به ایمیل شما ارسال شد. با کلیک روی این لینک رمز خود را تغییر دهید<br>
                در صورتی که ایمل وارد شده با ایمیل ثبت نامی شما یکسان نباشد,هیچ ایمیلی دریافت نخواهید کرد.
            </p>
        </div>
    </div>
{% endblock %}
{% block title %}پسورد ریست{% endblock %}