{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
     <div class="card">
        <div class="card-header">
            <h2 class="card-title">تغییر رمز</h2>
	    </div>
        <div class="card-body">
            <center>
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>ایمیل</td>
                            <td>{{ form.email|add_class:'form-control' }}</td>
                        </tr>
                    </table>
                    <input class="btn btn-primary" type="submit" value="ریست" />
                </form>
            </center>
        </div>
    </div>
{% endblock %}
{% block title %}پسورد ریست{% endblock %}