{% load thumbnail %}
{% for post in post_list %}
    <li class="feed">
    <div class="feed-container">
    <a href="{% url 'account:details' post.author.username %}">
        {% thumbnail post.author.picture "60" as im %}
            <img src="{{ im.url }}" class="author">
        {% endthumbnail %}
    </a>
    <div class="post">
        <h6>
            <a href="{% url 'account:details' post.author.username %}">{{ post.author.get_name }}</a>
        </h6>
        <p>{{ post.body }}</p>
    </div>
    </div>
    </li>
{% endfor %}
