
@font-face {
    font-family:'BYekan';
    font-style:normal;
    font-weight:400;
    src:url('/static/fonts/BYekan.woff') format('woff'),
        url('/static/fonts/BYekan.ttf') format('truetype')
}
body{
    font-family: "BYekan";
}
#header {
    background-color: #95999c;
    height: 50px;
}

.user-image{
    /*width: 150px;*/
    border-radius: 50%;
}
.page-header{
    border-bottom: 1px;
}
.page-header{
    margin-top:20px;
    margin-bottom: 20px;
}
.page-header h1{
    margin: 0px;
}
.stream{
    margin: 0;
    padding: 0;
}
.feed {
    list-style: none;
    border-bottom: 1px solid #eeee;
    padding: 1em 0;
}
.author {
    width: 60px;
    border-radius: 100px;
    float: left;
}
.feed-container{
    padding-left: 15px;
    padding-right: 15px;
}
.post{
    margin-left: 60px;
    padding:0 0 0 1.2em;
    overflow-x: auto;
}